#aichatbot {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000; /* Ensure it's above other content */
  /* background-color: #fff; */
  /* border: 1px solid #ccc; */
  /* border-radius: 5px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  padding: 10px;
}