@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
.footer-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    background-color: #1d1d1d;
    color: #ffffff;
    text-align: center;
    height: 17rem;
    font-family: 'Josefin Sans', sans-serif;
    box-shadow: -1px -3px 125px -35px rgba(108,117,128,0.8);
-webkit-box-shadow: -1px -3px 125px -35px rgba(108,117,128,0.8);
-moz-box-shadow: -1px -3px 125px -35px rgba(108,117,128,0.8);
}

.footer-logo-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 2.5rem 1rem;
}

.footer-nav-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0.5rem 0;
}

.footer-nav-section>div{
    margin: 0 0.4rem;
    cursor: pointer;
}

.copyright-text{
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    color: #adadad;
}

.logo {
    width: 10rem;
    cursor: pointer;
    text-align: left;
}

.footer-contact-section{
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: flex-start;
    justify-content: center;
}

.footer-contact-section{
    border-left: 0.1px solid rgb(83, 83, 83);
    padding-left:2.5rem ;
    border-right: 0.1px solid rgb(83, 83, 83);
}

.footer-contact-section>span{
    text-align: left;
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-left: 0.1rem;
}
.footer-contact-section>div{
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.footer-icon{
    background-color: #3e3e3e;
    padding: 0.4rem;
    border-radius: 50%;
    font-size: 1.4rem;
    margin-right: 0.5rem;
}

.footer-links-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    margin-left: 2.5rem ;
}

.footer-links-section>span{
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.footer-text {
    font-size: 1rem;
    margin: 1.5rem 2rem;
    margin-left: 0;
    color: #cac8c8;
}

.social-links{
    color : #fff;
    display: flex;
    justify-content: space-around;
    width: 10rem;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.footer-link-icons{
    padding: 0.3rem;
    background-color: #3e3e3e;
    border-radius: 0.2rem ;
    margin-right: 1rem;

}

.extra-detail {
    display: flex;
    align-items: center;
    margin: auto;
    font-size: 0.6rem;
}

.lower-section {
    margin-bottom: 2rem;
}
.icon {
    width: 1.5rem;
}





.extra-detail > a {
    text-decoration: none;
    color: #ffffff;
}



/* @media (max-width: 768px) {
    .logo {
        width: 6rem;
    }
    .footer-section {
        margin: 1rem;
        width: calc(100%-2rem);
        text-align: left;
    }
    .footer-text {
        font-size: 0.7rem;
    }

    .extra-detail {
        font-size: 0.5rem;
        margin-left: 0;
    }
    .social-links{
        font-size: 1rem;
        margin-left: 0;
    }
    
} */

@media (max-width: 768px) {
    .footer-section {
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        height: 30rem;
    }

    .footer-contact-section{
        border-left: none;
        padding-left:0 ;
        border-right: none;
    }

    .footer-logo-section{
        align-items: center;
        margin-bottom: 0;
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .divider{
        width: 100%;
        /* background-color: rgb(142, 142, 142); */
        border: 0.1px solid rgb(83, 83, 83);
        height: 0;
    }

    .logo{
        width: 6rem;
    }

    .footer-nav-section,.copyright-text{
        font-size: 0.8rem ;
    }

    .footer-contact-section{
        align-items: center;
        font-size: 0.8rem;
    }
    .footer-contact-section>span{
        font-size: 1rem;
        margin-top: 0;
    }

    .footer-contact-section>div{
        margin-top: 0.5rem;
    }

    .footer-icon{
        font-size: 1rem;
    }

    .footer-links-section{
        align-items: center;
        text-align: center;
    }

    .footer-links-section>span {
        margin-top: 0;
        font-size: 1rem;
    }

    .footer-text{
        font-size: 0.8rem;
        margin: 1rem 2rem;
    }

    .social-links{
        width: 16rem;
    }
}
